#playerStat {
    top: 0;
    width: 100%;
    height: 75%;
    display: none;
    overflow: hidden;
}

#chat {
    display: none; 
    border: 2px red solid;
    width: 100%;
    height: 70%;
}
.homePage {
    width: 100%;
    height: 70%;
}
.welcomeHeader {
    display: flex;
    margin: 50px;
}

.logo {
    width: 200px;
    height: auto;
}
