#playerStat {
    width: 100%;
    height: 100%;
}

#welcomePage {
    width: 100%;
    height: 100%;
}

.welcomeHeader {
    display: flex;
    margin: 50px;
}

.logo {
    width: 200px;
    height: auto;
}
